@import '../base/colors';

.pallet {
  min-height: 200px;
  border-radius: 15px;
  padding: 10px 2.5%;
  margin: 0 0 40px 0;
  &-1 {
    background-color: $color1;
  }
  &-2 {
    background-color: rgba($color2, 0.85);
  }
  &-3 {
    background-color: $color3;
  }
  &-4 {
    background-color: $color4;
  }
  & p {
    color: rgba(#252525, 0.8);
    font-family: 'Raleway', sans-serif;
    & span {
      color: $color1;
      display: contents;
      font-weight: bold;
    }
  }
}

h1 {
  color: rgba($color1, 0.8);
  font-family: 'Simonetta', cursive;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 40px;
  transition: 0.75s;
  cursor: pointer;
  &:hover {
    color: $color1;
  }
}

h2 {
  color: rgba($color4, 0.75);
  font-family: 'Bree Serif', serif;
  font-weight: 100;
  font-size: 30px;
}
